
/.idea/.gitignore
/doc_path/legal/ADDITIONAL_LICENSE_INFO
/doc_path/allclasses-index.html
/doc_path/allpackages-index.html
/doc_path/legal/ASSEMBLY_EXCEPTION
/doc_path/todo_app/backend/Category.html
/doc_path/constant-values.html
/doc_path/element-list
/doc_path/resources/glass.png
/doc_path/help-doc.html
/doc_path/index-all.html
/doc_path/legal/jquery.md
/doc_path/script-dir/jquery-3.6.0.min.js
/doc_path/script-dir/jquery-ui.min.css
/doc_path/script-dir/jquery-ui.min.js
/doc_path/jquery-ui.overrides.css
/doc_path/legal/jqueryUI.md
/doc_path/legal/LICENSE
/out/production/todo-app-project/uuid/Main.class
/src/uuid/Main.java
/doc_path/member-search-index.js
/.idea/misc.xml
/doc_path/module-search-index.js
/.idea/modules.xml
/doc_path/overview-summary.html
/doc_path/overview-tree.html
/src/todo_app/backend/package-info.java
/doc_path/package-search-index.js
/doc_path/todo_app/backend/package-summary.html
/doc_path/todo_app/frontend/package-summary.html
/doc_path/todo_app/backend/package-tree.html
/doc_path/todo_app/frontend/package-tree.html
/out/production/todo-app-project/todo_app/backend/Priority.class
/doc_path/todo_app/backend/Priority.html
/src/todo_app/backend/Priority.java
/readme.md
/doc_path/script.js
/doc_path/search.js
/doc_path/stylesheet.css
/doc_path/tag-search-index.js
/out/production/todo-app-project/todo_app/backend/ToDo$ToDoBuilder.class
/out/production/todo-app-project/todo_app/backend/ToDo.class
/doc_path/todo_app/backend/ToDo.html
/src/todo_app/backend/ToDo.java
/doc_path/todo_app/backend/ToDo.ToDoBuilder.html
/todo-app-project.iml
/out/production/todo-app-project/todo_app/backend/ToDoService.class
/doc_path/todo_app/backend/ToDoService.html
/src/todo_app/backend/ToDoService.java
/out/production/todo-app-project/todo_app/backend/ToDoServiceImpl.class
/doc_path/todo_app/backend/ToDoServiceImpl.html
/src/todo_app/backend/ToDoServiceImpl.java
/out/production/todo-app-project/todo_app/backend/ToDoUpdateDTO.class
/doc_path/todo_app/backend/ToDoUpdateDTO.html
/src/todo_app/backend/ToDoUpdateDTO.java
/doc_path/type-search-index.js
/out/production/todo-app-project/todo_app/backend/Utils.class
/doc_path/todo_app/backend/Utils.html
/src/todo_app/backend/Utils.java
/out/production/todo-app-project/todo_app/frontend/Web.class
/doc_path/todo_app/frontend/Web.html
/src/todo_app/frontend/Web.java
/doc_path/resources/x.png
